.errorHeading {
  color: rgb(0, 0, 0);
  text-align: center;
}
.castList {
  display: flex;
  flex-direction: row;
  column-gap: 35px;
  row-gap: 20px;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding: 70px;
}
.actorWrapper {
  position: relative;
}
.actorImg {
  height: 250px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
.actorInfo {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0px;
  left: 0px;
  color: white;
  background-color: rgba(72, 10, 10, 0.7);
}
.actorName {
  margin: 5px;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.actorCharacter {
  margin: 5px;
  color: #ed4343;
}
